header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 350px;
    height: 300px;
    background-color: grey;
    border-radius: 30px;
    padding: 20px;
    padding-left: 40px;
}
input{
    height: 45px;
    width: 200px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    padding-left: 20px;
}
h2{
    padding-left: 10px;
}
button{
    margin-left: 50px;
    width: 100px;
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: rgb(46, 46, 187);
    font-size: x-large;
    text-transform: uppercase;
}